@import 'tailwindcss';
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #1a1a1a;
  --card: #ffffff;
  --card-foreground: #1a1a1a;
  --popover: #ffffff;
  --popover-foreground: #1a1a1a;
  --primary: #2f81f7;
  --primary-foreground: #fff;
  --secondary: #f5f5f5;
  --secondary-foreground: #1a1a1a;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --accent: #33bd7f;
  --accent-foreground: #fff;
  --destructive: #ef4444;
  --destructive-foreground: #fff;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #2f81f7;
  --brand-blue: #2f81f7;
  --brand-green: #33bd7f;
  --foreground-2: #3b3a33;
  --prose-bullets: #26251e66;
  --chart-1: #eb5600;
  --chart-2: #26251e;
  --chart-3: #7a7974;
  --chart-4: #e6e5e0;
  --chart-5: #f0efea;
  --sidebar: #f0efea;
  --sidebar-foreground: #26251e;
  --sidebar-primary: #eb5600;
  --sidebar-primary-foreground: #14120b;
  --sidebar-accent: #ebeae5;
  --sidebar-accent-foreground: #26251e;
  --sidebar-border: #e2e2df;
  --sidebar-ring: #504f49;
}

::selection {
  color: var(--primary-foreground);
  background-color: var(--primary);
}

.dark {
  --background: #14120b;
  --foreground: #edecec;
  --card: #1b1913;
  --card-foreground: #edecec;
  --popover: #1b1913;
  --popover-foreground: #edecec;
  --primary: #eb5600;
  --primary-foreground: #14120b;
  --secondary: #201e18;
  --secondary-foreground: #edecec;
  --muted: #201e18;
  --muted-foreground: #969592;
  --accent: #201e18;
  --accent-foreground: #edecec;
  --destructive: #eb5600;
  --destructive-foreground: #14120b;
  --border: #2a2822;
  --input: #2a2822;
  --ring: #c2c0bf;
  --foreground-2: #d7d6d6;
  --prose-bullets: #edecec66;
  --chart-1: #eb5600;
  --chart-2: #edecec;
  --chart-3: #969592;
  --chart-4: #26241e;
  --chart-5: #1b1913;
  --sidebar: #1b1913;
  --sidebar-foreground: #edecec;
  --sidebar-primary: #eb5600;
  --sidebar-primary-foreground: #edecec;
  --sidebar-accent: #201e18;
  --sidebar-accent-foreground: #edecec;
  --sidebar-border: #2a2822;
  --sidebar-ring: #c2c0bf;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    text-rendering: optimizeLegibility;
    font-optical-sizing: auto;
    font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'case' 1;
  }
  p,
  li,
  blockquote,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'case' 1;
  }
}

@layer theme {
  :root {
    --color-red-50: #fef2f2;
    --color-red-100: #ffe2e2;
    --color-red-200: #ffcaca;
    --color-red-300: #ffa3a3;
    --color-red-400: #ff6568;
    --color-red-500: #fb2c36;
    --color-red-600: #e40014;
    --color-red-800: #9f0712;
    --color-red-900: #82181a;
    --color-orange-200: #ffd7a8;
    --color-orange-500: #fe6e00;
    --color-amber-200: #fee685;
    --color-amber-500: #f99c00;
    --color-yellow-50: #fefce8;
    --color-yellow-100: #fef9c2;
    --color-yellow-200: #fff085;
    --color-yellow-300: #ffe02a;
    --color-yellow-400: #fac800;
    --color-yellow-500: #edb200;
    --color-yellow-600: #cd8900;
    --color-yellow-700: #a36100;
    --color-yellow-800: #874b00;
    --color-yellow-900: #733e0a;
    --color-lime-200: #d8f999;
    --color-lime-500: #80cd00;
    --color-green-100: #dcfce7;
    --color-green-200: #b9f8cf;
    --color-green-400: #05df72;
    --color-green-500: #00c758;
    --color-green-600: #00a544;
    --color-green-800: #016630;
    --color-green-900: #0d542b;
    --color-emerald-50: #ecfdf5;
    --color-emerald-200: #a4f4cf;
    --color-emerald-300: #5ee9b5;
    --color-emerald-400: #00d294;
    --color-emerald-500: #00bb7f;
    --color-emerald-600: #009767;
    --color-teal-200: #96f7e4;
    --color-teal-500: #00baa7;
    --color-cyan-200: #a2f4fd;
    --color-cyan-500: #00b7d7;
    --color-blue-100: #dbeafe;
    --color-blue-200: #bedbff;
    --color-blue-300: #90c5ff;
    --color-blue-400: #54a2ff;
    --color-blue-500: #3080ff;
    --color-blue-800: #193cb8;
    --color-blue-900: #1c398e;
    --color-indigo-200: #c7d2ff;
    --color-indigo-500: #625fff;
    --color-purple-100: #f3e8ff;
    --color-purple-200: #e9d5ff;
    --color-purple-300: #d9b3ff;
    --color-purple-500: #ac4bff;
    --color-purple-800: #6e11b0;
    --color-purple-900: #59168b;
    --color-pink-200: #fccee8;
    --color-pink-500: #f6339a;
    --color-gray-100: #f3f4f6;
    --color-gray-600: #4a5565;
    --color-neutral-100: #f5f5f5;
    --color-neutral-200: #e5e5e5;
    --color-neutral-300: #d4d4d4;
    --color-neutral-400: #a1a1a1;
    --color-neutral-500: #737373;
    --color-neutral-600: #525252;
    --color-neutral-700: #404040;
    --color-neutral-800: #262626;
    --color-neutral-900: #171717;
    --color-black: #000;
    --color-white: #fff;
    --spacing: 0.25rem;
    --container-md: 28rem;
    --container-lg: 32rem;
    --container-2xl: 42rem;
    --container-3xl: 48rem;
    --container-5xl: 64rem;
    --container-7xl: 80rem;
    --text-xs: 0.75rem;
    --text-xs--line-height: calc(1 / 0.75);
    --text-sm: 0.875rem;
    --text-sm--line-height: calc(1.25 / 0.875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --tracking-tight: -0.025em;
    --tracking-wider: 0.05em;
    --tracking-widest: 0.1em;
    --leading-snug: 1.375;
    --leading-relaxed: 1.625;
    --radius-xs: 0.125rem;
    --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --animate-spin: spin 1s linear infinite;
    --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --blur-sm: 8px;
    --aspect-video: 16/9;
    --default-transition-duration: 0.15s;
    --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-small: 13.125px;
    --font-size-base: 15px;
    --font-size-base-plus: 18px;
    --font-size-medium: 20.625px;
    --font-size-large: 33.75px;
    --font-size-xlarge: 48.75px;
    --font-size-xxlarge: 67.5px;
    --line-height-small: 140%;
    --line-height-base: 140%;
    --line-height-medium: 130%;
    --line-height-large: 120%;
    --line-height-xlarge: 115%;
    --line-height-xxlarge: 110%;
    --tracking-small: 0.01em;
    --tracking-base: 0.005em;
    --tracking-medium: -0.005em;
    --tracking-large: -0.02em;
    --tracking-xlarge: -0.025em;
    --tracking-xxlarge: -0.03em;
    --v-unit: calc(var(--font-size-base) * var(--line-height-base) / 100);
    --spacing-v-1-12: calc(var(--v-unit) * 1 / 12);
    --spacing-v-2-12: calc(var(--v-unit) * 2 / 12);
    --spacing-v-3-12: calc(var(--v-unit) * 3 / 12);
    --spacing-v-4-12: calc(var(--v-unit) * 4 / 12);
    --spacing-v-5-12: calc(var(--v-unit) * 5 / 12);
    --spacing-v-6-12: calc(var(--v-unit) * 6 / 12);
    --spacing-v-7-12: calc(var(--v-unit) * 7 / 12);
    --spacing-v-8-12: calc(var(--v-unit) * 8 / 12);
    --spacing-v-9-12: calc(var(--v-unit) * 9 / 12);
    --spacing-v-10-12: calc(var(--v-unit) * 10 / 12);
    --spacing-v-11-12: calc(var(--v-unit) * 11 / 12);
    --spacing-v-1: var(--v-unit);
    --spacing-v-1-25: calc(var(--v-unit) * 1.25);
  }

  @supports (color: lab(0% 0 0)) {
    :root {
      --color-red-50: lab(96.5005% 4.18508 1.52328);
      --color-red-100: lab(92.243% 10.2865 3.83865);
      --color-red-200: lab(86.017% 19.8815 7.75869);
      --color-red-300: lab(76.5514% 36.422 15.5335);
      --color-red-400: lab(63.7053% 60.745 31.3109);
      --color-red-500: lab(55.4814% 75.0732 48.8528);
      --color-red-600: lab(48.4493% 77.4328 61.5452);
      --color-red-800: lab(33.7174% 55.8993 41.0293);
      --color-red-900: lab(28.5139% 44.5539 29.0463);
      --color-orange-200: lab(88.4871% 9.94918 28.8378);
      --color-orange-500: lab(64.272% 57.1788 90.3583);
      --color-amber-200: lab(91.7203% -0.505269 49.9084);
      --color-amber-500: lab(72.7183% 31.8672 97.9407);
      --color-yellow-50: lab(98.6846% -1.79055 9.7766);
      --color-yellow-100: lab(97.3564% -4.51407 27.344);
      --color-yellow-200: lab(94.3433% -5.00429 52.9663);
      --color-yellow-300: lab(89.7033% -0.480294 84.4917);
      --color-yellow-400: lab(83.2664% 8.65132 106.895);
      --color-yellow-500: lab(76.3898% 14.5258 98.4589);
      --color-yellow-600: lab(62.7799% 22.4197 86.1544);
      --color-yellow-700: lab(47.8202% 25.2426 66.5015);
      --color-yellow-800: lab(38.7484% 23.5833 51.4916);
      --color-yellow-900: lab(32.3865% 21.1273 38.5959);
      --color-lime-200: lab(94.0718% -22.5338 42.5238);
      --color-lime-500: lab(75.3197% -46.6547 86.1778);
      --color-green-100: lab(96.1861% -13.8464 6.52365);
      --color-green-200: lab(92.4222% -26.4702 12.9427);
      --color-green-400: lab(78.503% -64.9265 39.7492);
      --color-green-500: lab(70.5521% -66.5147 45.8073);
      --color-green-600: lab(59.0978% -58.6621 41.2579);
      --color-green-800: lab(37.4616% -36.7971 22.9692);
      --color-green-900: lab(30.797% -29.6927 17.382);
      --color-emerald-50: lab(97.8462% -6.94966 1.85487);
      --color-emerald-200: lab(90.2247% -31.039 9.47084);
      --color-emerald-300: lab(83.9203% -48.7124 13.8849);
      --color-emerald-400: lab(75.0771% -60.7313 19.4147);
      --color-emerald-500: lab(66.9756% -58.27 19.5419);
      --color-emerald-600: lab(55.0481% -49.9246 15.93);
      --color-teal-200: lab(90.7612% -33.1343 -0.542295);
      --color-teal-500: lab(67.3859% -49.0983 -2.63511);
      --color-cyan-200: lab(91.0821% -24.0435 -12.8306);
      --color-cyan-500: lab(67.805% -35.3952 -30.2018);
      --color-blue-100: lab(92.0301% -2.24757 -11.6453);
      --color-blue-200: lab(86.15% -4.04379 -21.0797);
      --color-blue-300: lab(77.5052% -6.4629 -36.42);
      --color-blue-400: lab(65.0361% -1.42065 -56.9802);
      --color-blue-500: lab(54.1736% 13.3369 -74.6839);
      --color-blue-800: lab(30.2514% 27.7853 -70.2699);
      --color-blue-900: lab(26.1542% 15.7545 -51.5504);
      --color-indigo-200: lab(84.4329% 3.18977 -23.9688);
      --color-indigo-500: lab(48.295% 38.3129 -81.9673);
      --color-purple-100: lab(93.3333% 6.97437 -9.83434);
      --color-purple-200: lab(87.8405% 13.4282 -18.7159);
      --color-purple-300: lab(78.3298% 26.2195 -34.9499);
      --color-purple-500: lab(52.0183% 66.11 -78.2316);
      --color-purple-800: lab(30.6017% 56.7637 -64.4751);
      --color-purple-900: lab(24.9401% 45.2703 -51.2728);
      --color-pink-200: lab(87.4504% 19.6 -6.46662);
      --color-pink-500: lab(56.9303% 76.8162 -8.07021);
      --color-gray-100: lab(96.1596% -0.0823438 -1.13575);
      --color-gray-600: lab(35.6337% -1.58697 -10.8425);
      --color-neutral-100: lab(96.52% -0.0000298023 0.0000119209);
      --color-neutral-200: lab(90.952% 0 -0.0000119209);
      --color-neutral-300: lab(84.92% 0 -0.0000119209);
      --color-neutral-400: lab(66.128% -0.0000298023 0.0000119209);
      --color-neutral-500: lab(48.496% 0 0);
      --color-neutral-600: lab(34.924% 0 0);
      --color-neutral-700: lab(27.036% 0 0);
      --color-neutral-800: lab(15.204% 0 -0.00000596046);
      --color-neutral-900: lab(7.78201% -0.0000149012 0);
    }
  }

  .text-small {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    letter-spacing: var(--tracking-small);
  }

  .text-small-bold {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    letter-spacing: var(--tracking-small);
    font-weight: 700;
  }

  .text-base {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    letter-spacing: var(--tracking-base);
  }

  .text-base-plus {
    font-size: var(--font-size-base-plus);
    line-height: var(--line-height-base-plus);
    letter-spacing: var(--tracking-base-plus);
  }

  .text-base-bold {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    letter-spacing: var(--tracking-base);
    font-weight: 700;
  }

  .text-medium {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
    letter-spacing: var(--tracking-medium);
  }

  .text-large {
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
    letter-spacing: var(--tracking-large);
    -webkit-font-smoothing: subpixel-antialiased;
    text-wrap: balance;
  }

  .text-xlarge {
    font-size: var(--font-size-xlarge);
    line-height: var(--line-height-xlarge);
    letter-spacing: var(--tracking-xlarge);
    -webkit-font-smoothing: subpixel-antialiased;
    text-wrap: balance;
  }

  .text-xxlarge {
    font-size: var(--font-size-xxlarge);
    line-height: var(--line-height-xxlarge);
    letter-spacing: var(--tracking-xxlarge);
    -webkit-font-smoothing: subpixel-antialiased;
    text-wrap: balance;
  }

  .space-v-1-12 {
    margin-bottom: var(--spacing-v-1-12);
  }

  .space-v-2-12 {
    margin-bottom: var(--spacing-v-2-12);
  }

  .space-v-3-12 {
    margin-bottom: var(--spacing-v-3-12);
  }

  .space-v-4-12 {
    margin-bottom: var(--spacing-v-4-12);
  }

  .space-v-5-12 {
    margin-bottom: var(--spacing-v-5-12);
  }

  .space-v-6-12 {
    margin-bottom: var(--spacing-v-6-12);
  }

  .space-v-7-12 {
    margin-bottom: var(--spacing-v-7-12);
  }

  .space-v-8-12 {
    margin-bottom: var(--spacing-v-8-12);
  }

  .space-v-9-12 {
    margin-bottom: var(--spacing-v-9-12);
  }

  .space-v-10-12 {
    margin-bottom: var(--spacing-v-10-12);
  }

  .space-v-11-12 {
    margin-bottom: var(--spacing-v-11-12);
  }

  .space-v-1 {
    margin-bottom: var(--spacing-v-1);
  }

  .space-v-1-25 {
    margin-bottom: var(--spacing-v-1-25);
  }
}
